body {
    background-image: url("../IMAGES/back.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.slider{
    width: 555px;
    height: 400px;
    background: url("../IMAGES/1.jpg");
    margin: 100px auto;
    animation: slide 20s infinite;
    opacity: 0.9;
}

@keyframes slide {
    25%{
        background: url("../IMAGES/1.jpg");
    }
    50%{
        background: url("../IMAGES/2.jpg");
    }
    75%{
        background: url("../IMAGES/3.jpg");
    }
    100%{
        background: url("../IMAGES/4.jpg");
    }
}

#Header {
    padding: 20px;
    text-align: center;
}

#Header img {
    width: 75%;
    max-width: 728px;
}

.nav {
    text-align: center;
    background-color:#EA8542;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.77;
    border-radius: 33px;
}

.nav a {
    font-size: large;
    text-decoration: underline;
    font-weight: 900;
    padding: 33px;
    
}

.nav a:hover {
    color:#ffffff
}

h1 {
    text-align: center;
    color: #a27448;
}

span {
    font-weight: 900;
}

p{
    margin-left: 20px ;
    margin-right: 20px;
    margin-bottom: 50px;
    text-align: center;
    
}


h2 {
    text-align: center;
    background-color:#EA8542;
    padding: 33px;
    opacity: 0.77;
    border-radius: 33px;
}

table {
    margin: 0 auto;
    margin-bottom: 20px;
}

