p{

 color: green;

}

p.small {
    font-size: small;
   }
   p.medium {
    font-size: medium;
   }
   p.large {
    font-size: large;
   }
   p.xlarge {
    font-size: x-large;
   }

   #firstname {
    background-color: yellow;
  }
  #secondname {
    background-color: green;
  }
  
  p.serif {
    font-family: "Times New Roman", Times, serif;
    }
    p.sansserif {
    font-family: Helvetica, Arial, sans-serif;
    }


/*1em is equal to the current font size. The default text size in browsers is 16px. 1em is 16px.*/
h1 {
    font-size: 2.5em; /*2.5 times the normal */
  }
  
  h2 {
    font-size: 1.875em; /*nearly 2 times the normal */
  }
  
  p {
    font-size: 0.75em; /* 3/4 of the normal paragraph size */
  }

  p.thick{
    font-weight: 900;
   }
   p.thin {
    font-weight: 100;
   }
   p.normal {
    font-variant: normal;
  }
  
  p.small {
    font-variant: small-caps;
  }
  p.greenExample {
    color: green;
   }
   p.redHexExample{
    color: #ff0000;
   }
   p.fusciaHexExample {
    color: #ff00ff;
   }
   p {
    text-align: center;
  }
  
  h1 {
    text-align: left;
  }
  
  h2 {
    text-align: right;
  }

  p.overline {
    text-decoration: overline;
    }
    p.underline {
    text-decoration: underline;
    }
    p.line-through {
    text-decoration: line-through;
    }
    